.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/testing.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
wsgi/database.pyc
wsgi/timmetar.pyc
